[Desktop Entry]
StartupWMClass=kyunnect
Name=Kyunnect
Exec=kyunnect
Terminal=false
Type=Application
Categories=Utility;
Icon=/snap/snapd/current/usr/share/snapd/snapcraft-logo-bird.svg
Keywords=snap;sandbox;plug;interface;
Comment=A Snap plug manager
